{
  "builtin_tools_disabled": [],
  "tool_groups": {
    "bash": false,
    "code": false,
    "subagents": false
  },
  "skills_disabled": [],
  "mcps": [
    {
        "name": "deepwiki",
        "type": "http",
        "url": "https://mcp.deepwiki.com/mcp",
        "allowed_tools": ["mcp__deepwiki"],
        "enabled": false
    },
    {
      "name": "github",
      "command": "npx",
      "args": ["-y", "@modelcontextprotocol/server-github"],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "${GITHUB_PERSONAL_ACCESS_TOKEN}"
      },
      "allowed_tools": [
        "mcp__github"
      ],
      "enabled": false
    },
    {
      "name": "mcp-gitlab",
      "command": "npx",
      "args": ["-y", "@zereight/mcp-gitlab"],
      "env": {
        "GITLAB_PERSONAL_ACCESS_TOKEN": "${GITLAB_TOKEN}",
        "GITLAB_API_URL": "${GITLAB_URL}/api/v4"
      },
      "allowed_tools": [
        "mcp__mcp-gitlab"
      ],
      "enabled": false
    },
    {
      "name": "mcp-atlassian",
      "type": "http",
      "url": "https://mcp.atlassian.com/v1/mcp",
      "allowed_tools": [
        "mcp__mcp-atlassian"
      ],
      "enabled": false
    }
  ]
}
